html,body {
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}


* {
    padding: 0;
    margin: 0;
}


nav {
    line-height: 50px;
    padding:0 40px;
    background-color: rebeccapurple;
    position:sticky;
    top: 0;
}


a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 20px;
}


section {
    padding: 20px;
    font-size: 25px;
    scroll-margin-top:50px ;
    height: calc(100vh - 50px);
    
}

p {
    font-size: 15px;
    padding-top: 20px;
}


/* Salatlar */
#SALAT {
    background-image: url(../cafe.png);
    background-size: cover;
    background-position: right;
}

.container {
    height:730px;
    width:730px;
    padding-top: 25px;
    background-color: white;
    border-radius:20px;
    font-size: 2em;
    display: inline-block;
}

.gel1 {
    background-image: url(../asiya.png);
    height:200px;
    width: 300px;
    background-size: cover;
    margin-left: 420px;
    position: relative;
    bottom:70px;
}

.gel2 {
    background-image: url(../badimcan.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    margin-left: 420px;
    position: relative;
    bottom: 160px;
}

.gel3 {
    background-image: url(../sezar.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    position: relative;
    left: 420px;
    bottom: 250px;
}

.PAS {
    font-size: 0.8em;
    margin-left: 100px;
}

h5 {
    font-weight: bold;
    font-size: 0.3em;
    position: relative;
    bottom: 490px;
    left: 7px;
}

.B {
    font-size: 0.6em;
    position: relative;
    left: 360px;
    bottom: 550px;
}

.SEZ {
    position: relative;
    left: 10px;
    bottom: 620px;
}

.SEZA {
    font-size: 0.6em;
    position: relative;
    left: 360px;
    bottom: 690px;
}

.asiya {
    position: relative;
    bottom: -260px;
}

.asiyaa {
    font-size: 0.6em;
    position: relative;
    top:200px;
    left: 370px;
}


/* KABABLAR */
.container1 {
    height:730px;
    width:730px;
    padding-top: 25px;
    background-color: white;
    border-radius:20px;
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: 20px;
    right: 500px;
}

.gel4 {
    background-image: url(../asiya.png);
    height:200px;
    width: 300px;
    background-size: cover;
    margin-left: 420px;
    position: relative;
    bottom:70px;
}

.gel5 {
    background-image: url(../badimcan.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    margin-left: 420px;
    position: relative;
    bottom: 190px;
}

.gel6 {
    background-image: url(../sezar.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    position: relative;
    left: 420px;
    bottom: 290px;
}

#KABAB {
    background-image: url(../cafe.png);
    background-size: cover;
    background-position: right;
    position: relative;
    bottom:220px;
    right: 20px;
    height: 800px;
    padding:0 525px;
}
.KAB {
    font-size: 0.8em;
    margin-left: 100px;
}

.KABAB {
    position: relative;
    top:20px;
}

.KABABA {
    position: relative;
    top:-40px;
    left: 350px;
    font-size: 35px;
}

.KABABaa {
    position: relative;
    left: 350px;
    bottom: 570px;
    font-size: 35px;
}




/* 

Isti yemekler */

#is {
    background-image: url(../cafe.png);
    background-size: cover;
    background-position: right;
    position: relative;
    bottom:220px;
    right: 20px;
    height: 800px;
    padding:0 525px;
}

.container2 {
    height:730px;
    width:730px;
    padding-top: 25px;
    background-color: white;
    border-radius:20px;
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: 20px;
    right: 500px;
}

.gel4 {
    background-image: url(../asiya.png);
    height:200px;
    width: 300px;
    background-size: cover;
    margin-left: 420px;
    position: relative;
    bottom:70px;
}

.gel5 {
    background-image: url(../badimcan.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    margin-left: 420px;
    position: relative;
    bottom: 190px;
}

.gel6 {
    background-image: url(../sezar.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    position: relative;
    left: 420px;
    bottom: 290px;
}


/* pasta ve duyu yemekler */

#PASTA {
    background-image: url(../cafe.png);
    background-size: cover;
    background-position: right;
    position: relative;
    bottom:220px;
    right: 20px;
    height: 800px;
    padding:0 525px;
}

.container3 {
    height:730px;
    width:730px;
    padding-top: 25px;
    background-color: white;
    border-radius:20px;
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: 20px;
    right: 500px;
}

.gel7 {
    background-image: url(../asiya.png);
    height:200px;
    width: 300px;
    background-size: cover;
    margin-left: 420px;
    position: relative;
    bottom:140px;
}

.gel8 {
    background-image: url(../badimcan.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    margin-left: 420px;
    position: relative;
    bottom: 250px;
}

.gel9 {
    background-image: url(../sezar.png);
    height:200px;
    width: 300px;
    background-size: cover;
    background-position: right;
    position: relative;
    left: 420px;
    bottom: 360px;
}

