html, body {
    height:100%;
}
/* /////////////////////////// */
* {
    margin: 0;
    padding: 0;
}
/* ////////////////////////////// */

/* Header hissesi */

.navbar-toggler {
    color: white;
    background-color: blue;
}

/* <!-- Sirketin adi --> */



/* Ana sehife */

#twins {
    background-image: url(IMG/twins.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    max-width:685.56px;
    min-width:393px;
    min-height:606px;
    max-height:2490px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* Ana sehifede olan yazilar */



/* //////////////////////////////////////////////// */



/* Elaqe nomresi */
