html, body {
    height:100%;
}
/* /////////////////////////// */
* {
    margin: 0;
    padding: 0;
}
/* ////////////////////////////// */

/* Header hissesi */

#Logo {
    height:50px;
    width:50px;
}

.nav-link {
    margin-left: 20px;
}
/* <!-- Sirketin adi --> */

#SA {
    font-size:18px;
    margin-top:18px;
    color:white;
}

/* Ana sehife */

.container {
    background-image: url(../Proyekt/IMG/twins.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:563px;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 674.4px;

    position: relative;
    top:76.5px;
}

/* Ana sehifede olan yazilar */

#yazicontainer {
    height:30px;
    width:1400px;

    
    position: relative;
    top:240.5px;
    margin-left: -120px;
    padding-left: 120px;
    
}


.HM {
    color:white;
    display: flex;
    flex-direction: row;
}

/* //////////////////////////////////////////////// */

#Xerite {
    position: relative;
    top:77.4px;
    
    height: 590px;
    width: 1348.6px;
}

/* Elaqe nomresi */

#herseycontainer {
    background-color: black;
    height:610.8px;
    width: 1348.6px;
}

.filial {
    height:600px;
    width:200px;
    color: white;

    position: relative;
    top: 130px;
    left: 30px;
}

.elaqe {
    height:600px;
    width:200px;
    color: white;

    position: relative;
    top: -470px;
    left: 400px;
}

#yardim {
    height:600px;
    width:300px;
    color: white;
    position: relative;
    top: -1070px;
    left: 850px;
}
