@import'./variables';
@import'./header';
@import'./body';

.FL {
    background-color:$textcolor;
    height:100px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .FK {
        margin-left:20px;
        background-color:gold;
        &:hover {
            background-color:saddlebrown;
        }
    }
}

.DL {
    background-color:$textcolor;
    height:100px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .DK {
        margin-left:20px;
        background-color:gold;
        &:hover {
            background-color:forestgreen;
        }
    }
}

.aL {
    background-color:$textcolor;
    height:140px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .aK {
        padding: 20px;
        margin-left:20px;
        background-color:gold;
        &:hover {
            background-color:forestgreen;
        }
    }

    .aO {
        padding:10px;
        background-color: forestgreen;
        &:hover {
            background-color:fuchsia;
        }
    }

    .aP {
        padding:5px;
        background-color: goldenrod;
        &:hover {
            background-color:brown;
        }
    }

}