html,body {
    height: 100%;
}

* {
    padding:0;
    margin:0;
}

.anasehife {
    height:200px;
    border:solid black 2px;
}


 /* foooterr hissesi */
.basliq {
    height:200px;
    width:auto;
    background-color: aqua;
}

.sekil {
    background-image:url(../img/beach-icon.png);
    background-size: contain;
    height:150px;
    width:150px;
}

.h1 {
    padding-left:150px;
    position: relative;
    bottom:85px;
}

.qutu {
    height: 50px;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-left:500px;
    position: relative;
    bottom:145px;
}

.SS {
    text-decoration: none;
    color:black;
}

.RR {
    height: 80px;
    margin-top:-13px;
}

.clr {
    font-size: 1.5em;
}

 /* Sekill */
 .d-block {
    height: 1030px;
    width:auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.carousel-inner {
    height: 1030px;
    width:auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
h4 {
    background-color: black;
}

@media (max-width:700px) {
    .anasehife {
        height:100px;
    }
    
    
     /* foooterr hissesi */
    .basliq {
        height:100px;
        width:auto;
        background-color: aqua;
        position: sticky;
        top: 0;
    }
    
    .sekil {
        background-image:url(../img/beach-icon.png);
        background-size: contain;
        height:80px;
        width:80px;
    }
    
    .h1 {
        padding-left:80px;
        position: relative;
        bottom:45px;
        font-size: 18px;
    }
    
    .qutu {
        height: 30px;
        width: auto;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        padding-left:200px;
        position: relative;
        bottom:75px;
    }
    
    .SS {
        text-decoration: none;
        color:black;
    }
    
    .RR {
        height: 80px;
        margin-top:-23px;
    }
    
    .clr {
        font-size: 0.8em;
    }
}


@media (max-width:600px) {
    .anasehife {
        height:100px;
    }
    
    
     /* foooterr hissesi */
    .basliq {
        height:100px;
        width:auto;
        background-color: aqua;
        position: sticky;
        top: 0;
    }
    
    .sekil {
        background-image:url(../img/beach-icon.png);
        background-size: contain;
        height:80px;
        width:80px;
    }
    
    .h1 {
        padding-left:80px;
        position: relative;
        bottom:45px;
        font-size: 18px;
    }
    
    .qutu {
        height: 30px;
        width: auto;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        padding-left:200px;
        position: relative;
        bottom:75px;
    }
    
    .SS {
        text-decoration: none;
        color:black;
    }
    
    .RR {
        height: 80px;
        margin-top:-23px;
    }
    
    .clr {
        font-size: 0.8em;
    }
}